<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probability of Heart Disease</title>
</head>
<body>
    <h1>Probability of Heart Disease</h1>

    <form method="POST" action="http://127.0.0.1:5000/prediksi">
        age: <input type="float" name="age"/>
        <p>sex: <input type="float" name="mo"/></p>
        <p>Chest pain: <input type="float" name="cp"/></p>
        <p>Resting blood pressure: <input type="float" name="restbps"/></p>
        <p>Cholesterol: <input type="float" name="chol"/></p>
        <p>Fasting blood sugar: <input type="float" name="fbs"/></p>
        <p>Resting ecg results: <input type="float" name="restecg"/></p>
        <p>Thalach: <input type="float" name="thalach"/></p>
        <p>Exercise induced angina: <input type="float" name="exang"/></p>
        <p>Oldpeak : <input type="float" name="oldpeak "/></p>
        <p>Slope: <input type="float" name="slope"/></p>
        <p>Vessel color changed by fluoroscopy: <input type="float" name="ca"/></p>
        <p>Thalasemia: <input type="float" name="thal"/></p>
        <input type="submit" value="Predict">
    
    </form>
</body>
</html>